body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a:hover {
    color: inherit;
}

header {
    background-position: top center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

body.home header {
    background-image: url("../img/bg/header-home.jpg");
}

body.platform header {
    background-image: url("../img/bg/header-platform.jpg");
}

body.athletic header {
    background-image: url("../img/bg/header-athletic.jpg");
}

body.institution header {
    background-image: url("../img/bg/header-institution.jpg");
}

body.partner header {
    background-image: url("../img/bg/header-partner.jpg");
}

body.careers header {
    background-image: url("../img/bg/header-careers.jpg");
}

body.about-us header {
    background-image: url("../img/bg/header-about-us.jpg");
}

body.blog header {
    background-image: url("../img/bg/header-blog.jpg");
}

body.single header {
    background-image: url("../img/bg/header-single.jpg");
}

body.schedule-demo header {
    background-image: url(../img/bg/bg-platform-bottom-partner.jpg);
}

body.in-action header {
    background-image: url(../img/bg/header-in-action.jpg);
}

body.home header:after {
    content: "";
    background-image: url(../img/bg/header-home-polygon.png);
    position: absolute;
    width: 100%;
    height: 285px;
    bottom: -70px;
    left: 0;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

header .top-header {
}

header .top-header:before {
    content: "";
    width: 100%;
    height: 9px;
    display: block;
    margin-bottom: 10px;
    background-color: rgba(127, 63, 152, 0.6);
}

header .top-header .menu {
    margin-top: 20px;
}

header .top-header .menu ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

header .top-header .menu ul li {
    display: inline-block;
}

header .top-header .menu ul li a {
    font-size: 1.000em;
    text-transform: uppercase;
    display: block;
    color: #FFF;
    padding: 15px 40px;
    position: relative;
    text-decoration: none;
    font-weight: 700;
}

header .top-header .menu ul li a:hover {
    background-color: #7f3f98;
    transform: skewX(-30deg);
}

header .top-header .menu ul li a:hover span {
    transform: skewX(30deg);
    display: inline-block;
}

header .middle-header {
    padding: 100px 0 200px;
    position: relative;
    z-index: 100;
}

body.home header .middle-header {
    padding: 185px 0 250px;
}

body.careers header .middle-header {
    padding: 100px 0 100px;
}

body.single header .middle-header {
    padding: 300px 0 40px;
}

header .middle-header h1 {
    font-size: 2.571em;
    color: #FFF;
    margin: 0 0 15px;
    text-transform: uppercase;
}

body.single header .middle-header h1 {
    margin: 0;
}

header .middle-header span {
    font-size: 1.714em;
    color: #FFF;
    margin-bottom: 15px;
    display: block;
}

body.careers header .middle-header a.btn-call-to-action {
    margin-top: 30px;
}

section.giving-day {
    background-color: #38345f;
    padding: 150px 0 200px;
}

section.giving-day img {
    display: inline-block;
    max-width: 100%;
}

section.giving-day h2 {
    text-transform: uppercase;
    font-size: 1.286em;
    color: #FFF;
    margin: 0 0 5px;
}

section.giving-day p.info {
    font-size: 1.143em;
    color: #FFF;
    margin: 30px 0;
}

section.giving-day p.caption {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.143em;
    color: #fff8b9;
    margin: 0 0 15px;
}

section.institutional-size {
    padding: 250px 0 400px;
    position: relative;
}

section.institutional-size:before {
    content: "";
    position: absolute;
    top: -80px;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg/institutional-size.png);
    background-size: cover;
    background-position: top center;
}

section.institutional-size h2 {
    font-size: 3.214em;
    color: #7f3f98;
    margin: 0;
}

section.institutional-size p.info {
    font-size: 1.143em;
    color: #525252;
    margin: 45px 0;
}

section.overview {
    position: relative;
}

section.overview:before {
    content: "";
    position: absolute;
    top: -20px;
    right: -260px;
    background-image: url(../img/bg/overview-polygon.png);
    width: 484px;
    height: 400px;
}

section.overview h2 {
    font-size: 4.286em;
    color: #7f3f98;
    margin: 160px 0 145px 15px;
}

section.overview p.info {
    font-size: 1.143em;
    color: #575757;
    margin: 45px 0 45px 15px;
}

section.features {
    padding: 150px 0 100px;
}

section.features .item {
    display: inline-block;
    width: calc(18% - 3px);
    vertical-align: top;
    text-align: center;
    padding: 0 15px;
}

section.features .item:nth-child(1) {
    width: calc(25% - 3px);
}

section.features .item img {
    max-width: 100%;
}

section.features .item h5 {
    font-size: 1.286em;
    color: #7f3f98;
    padding: 20px 0 15px;
}

section.features .item p {
    font-size: 1.143em;
    color: #585858;
}

section.modules {
    position: relative;
    margin-bottom: 230px;
}

section.modules:after {
    content: "";
    background-image: url(../img/bg/bg-modules-bottom.jpg);
    width: 980px;
    height: 956px;
    display: block;
    position: absolute;
    bottom: -130px;
    right: -445px;
}

section.modules:before {
    content: "";
    background-image: url(../img/bg/bg-modules-top.jpg);
    width: 627px;
    height: 1006px;
    display: block;
    position: absolute;
    top: -80px;
    left: -440px;
}

section.modules img {
}

section.modules img.module-1 {
    left: 50px;
    position: relative;
}

section.modules img.module-2 {
    left: -110px;
    position: relative;
}

section.modules img.module-3 {
    left: -160px;
    position: relative;
    margin-top: 60px;
}

section.modules a.btn-call-to-action {
    margin: 80px 0 170px;
}

section.modules .items {
    left: -245px;
}

section.modules .items .item {
    position: relative;
    text-align: right;
    margin-bottom: 50px;
}

section.modules .items .item h5 {
    color: #7f3f98;
    font-size: 1.714em;
    margin: 0 0 5px;
}

section.modules .items .item:after {
    content: "";
    position: absolute;
    top: 10px;
    right: calc(-215px - 30px);
    width: 215px;
    height: 2px;
    background-color: #c2c2c2;
}

section.modules .items .item p {
    color: #686868;
    font-size: 1.143em;
}

section.institutions {
    background-color: #cecece;
    position: relative;
    padding-bottom: 20px;
}

section.institutions:before {
    content: "";
    width: 100%;
    height: 120px;
    position: absolute;
    top: -120px;
    left: 0;
    background-image: url(../img/bg/bg-institutions-top.png);
}

section.institutions h2 {
    color: #7f3f98;
    font-size: 2.286em;
    text-transform: uppercase;
    margin: 0 0 50px;
}

section.institutions .item {
    display: inline-block;
    width: calc(100% / 5 - 3px - 33px);
    margin: 0 20px 40px;
    text-align: center;
    vertical-align: top;
}

section.institutions .item:first-child {
    margin-left: 0;
}

section.institutions .item:last-child {
    margin-right: 0;
}

section.institutions .item .box-image {
    min-height: 185px;
    margin-bottom: 40px;
    position: relative;
}

section.institutions .item .box-image img {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    max-width: 100%;
}

section.institutions .item h6 {
    color: #535353;
    font-size: 1.000em;
    margin: 0 0 15px;
    text-transform: uppercase;
}

section.institutions .item p {
    color: #414141;
    font-size: 1.000em;
    margin: 0;
}

section.athletics {
    background-image: url(../img/bg/bg-athletics.png);
    background-size: cover;
    background-position: top center;
    padding: 320px 0 300px;
}

section.athletics h2 {
    margin: 0 0 5px;
    font-size: 2.571em;
    color: #FFF;
}

section.athletics p.caption {
    font-size: 1.714em;
    color: #FFF;
    margin: 0 0 70px;
    text-transform: uppercase;
    font-weight: 700;
}

section.athletics p.info {
    font-size: 1.143em;
    color: #e8e8e8;
}

section.athletics a.btn-call-to-action {
    margin-top: 55px;
}

section.complete-suite {
    background-color: #40234c;
    background-image: url(../img/bg/bg-complete-suite.png);
    background-position: center left;
    background-size: calc(100% - 30%);
    background-repeat: no-repeat;
    padding: 180px 250px;
}

section.complete-suite h2 {
    font-size: 2.571em;
    color: #FFF;
    margin: 0 0 25px;
}

section.complete-suite p.info {
    font-size: 1.714em;
    color: #FFF;
    margin: 0;
}

section.one-powerfull {
    padding: 80px 0 0;
    margin-bottom: 250px;
    position: relative;
}

section.one-powerfull.partner {
    background-image: url(../img/bg/bg-one-powerfull-partner.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 200000;
    margin-top: -80px;
}

section.one-powerfull.partner:after {
    display: none;
}

section.one-powerfull:before {
    content: "";
    background-image: url(../img/bg/onepowerful-polygon-bottom-left.png);
    background-size: contain;
    width: 411px;
    height: 327px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: -170px;
    left: -80px;
}

section.one-powerfull:after {
    content: "";
    background-image: url(../img/bg/onepowerful-polygon-top-right.png);
    background-size: contain;
    width: 281px;
    height: 224px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: -80px;
    right: -50px;
}

section.one-powerfull h2 {
    font-size: 2.571em;
    color: #7f3f98;
    margin: 160px 0 20px;
}

section.one-powerfull p.info {
    color: #5d5d5d;
    font-size: 1.714em;
    margin: 0;
}

section.one-powerfull .items {
    margin-left: -120px;
}

section.one-powerfull .items .item {
    text-align: center;
    width: 30%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

section.one-powerfull .items .item.main {
    top: 290px;
    z-index: 100;
}

section.one-powerfull .items .item.item-1 {
    left: 110px;
}

section.one-powerfull .items .item.item-2 {
    left: 235px;
    top: 185px;
}

section.one-powerfull .items .item.item-3 {
    top: 140px;
    width: 40%;
    left: -40px;
}

section.one-powerfull .items .item.item-4 {
    top: 280px;
    left: 270px;
}

section.one-powerfull .items .item img {
    margin-bottom: 15px;
}

section.one-powerfull .items .item h5 {
    font-size: 1.286em;
    color: #7f3f98;
    margin: 0 0 15px;
    white-space: nowrap;
    text-transform: uppercase;
}

section.one-powerfull .items .item p {
    color: #626262;
    font-size: 1.143em;
    margin: 0;
}

section.platform-common-list {
}

section.platform-common-list p.info {
    color: #4b4b4b;
    font-size: 1.143em;
    margin-bottom: 20px;
}

section.platform-common-list img {
    margin-bottom: 20px;
}

section.platform-common-list h2 {
    color: #7f3f98;
    font-size: 2.571em;
    margin: 0 0 20px;
    text-transform: uppercase;
}

section.platform-common-list h4 {
    color: #8d8d8d;
    font-size: 1.714em;
    margin: 0 0 10px;
    text-transform: uppercase;
}

section.platform-common-list ul {
    margin: 0 0 50px;
    padding: 0;
    list-style: none;
}

section.platform-common-list ul li {
    color: #545454;
    font-size: 1.286em;
    margin: 0 0 10px;
}

section.platform-common-list ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #959595;
    display: inline-block;
    transform: rotate(45deg);
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
}

section.platform-common-list ul li ul {
    margin: 0 0 0 40px;
}

section.platform-common-list ul li ul li {
    position: relative;
    padding-left: 20px;
    font-size: 1.143em;
}

section.platform-common-list ul li ul li:before {
    content: "";
    background-color: transparent;
    border: 1px solid #959595;
    position: absolute;
    top: 12px;
    left: 0;
}

section.platform-common-list .items {
    text-align: center;
}

section.platform-common-list .items .item {
    margin-bottom: 30px;
}

section.platform-common-list .items .item:last-child {
    margin-bottom: 0;
}

section.platform-common-list .items .item img {
    margin-bottom: 30px;
}

section.platform-common-list .items .item p {
    margin: 0;
    color: #8d8d8d;
    font-size: 1.143em;
}

section.giving-day-platform {
    padding: 90px 0 190px;
    background-image: url(../img/bg/giving-day-platform.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
}

section.giving-day-platform .items {
    margin-top: 15px;
}

section.unite {
    background-image: url(../img/bg/bg-unite.jpg);
    background-position: top center;
    background-size: cover;
    margin-top: -100px;
    padding-top: 25px;
}

section.unite .to-down {
    margin-top: 80px;
}

section.sprout {
    background-image: url(../img/bg/bg-sprout.png);
    background-position: top center;
    background-size: cover;
    padding: 90px 0 130px;
    position: relative;
    z-index: 100;
    margin-top: -250px;
}

section.sprout img.img-home {
    width: calc(100% + 20%);
    margin-top: 60px;
}

section.platform-bottom {
    background-image: url(../img/bg/bg-platform-bottom.png);
    background-size: cover;
    background-position: top center;
    padding: 320px 0 250px;
    margin-top: -250px;
    position: relative;
    z-index: 100;
}

section.platform-bottom.partner {
    margin-top: 270px;
    background-image: url(../img/bg/bg-platform-bottom-partner.jpg);
    padding: 140px 0 210px;
}

section.platform-bottom.partner.careers {
    margin-top: 0;
}

section.platform-bottom h2 {
    font-size: 2.571em;
    color: #FFF;
    margin: 0 0 20px;
    text-transform: uppercase;
}

section.platform-bottom p.info {
    font-size: 1.143em;
    color: #FFF;
    margin: 0;
}

section.platform-bottom a.btn-call-to-action {
    margin-top: 30px;
}

section.built {
    padding: 140px 0 0;
    background-color: #2a2a2a;
}

section.built h2 {
    font-size: 2.571em;
    color: #FFF;
    margin: 0 0 40px;
}

section.built p.info {
    font-size: 1.286em;
    color: #FFF;
    margin: 0;
}

section.built img.man {
    margin-top: -220px;
}

section.advantage-athletic {
    padding: 40px 0 100px;
    background-image: url(../img/bg/bg-advantage-athletic.jpg);
    background-size: calc(100% + 520px);
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: -310px;
    position: relative;
    z-index: 100;
}

section.advantage-athletic .items {
}

section.advantage-athletic .item {
    display: inline-block;
    width: calc(100% / 5 - 3px);
    text-align: center;
    vertical-align: top;
}

section.advantage-athletic .item img {
}

section.advantage-athletic .item h5 {
    color: #3c3c3c;
    font-size: 1.143em;
    text-transform: uppercase;
    margin: 20px 0 0;
}

section.advantage-athletic .bottom {
    text-align: center;
    margin-top: 50px;
}

section.advantage-athletic .bottom img {
    max-width: 100%;
}

section.air-force {
    background-image: url(../img/bg/bg-air-force.jpg);
    background-size: calc(100% + 520px);
    background-position: top center;
    padding-bottom: 150px;
    padding-top: 50px;
}

section.air-force p.percentage {
    margin: 40px 0 10px;
}

section.air-force p.percentage span.number {
    color: #ffcc00;
    font-size: 5.143em;
}

section.air-force p.percentage span.icon {
    color: #FFF;
    font-size: 2.143em;
}

section.air-force p.info {
    font-size: 1.000em;
    color: #FFF;
    margin: 0;
}

section.air-force a.btn-call-to-action {
    margin-top: 60px;
}

section.air-force h3 {
    margin: 0 0 30px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.714em;
}

section.air-force ul {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

section.air-force ul li {
    font-size: 1.143em;
    color: #FFF;
    margin-bottom: 25px;
    position: relative;
    padding-left: 20px;
}

section.air-force ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #FFF;
    display: inline-block;
    transform: rotate(45deg);
    margin-right: 10px;
    vertical-align: middle;
    position: absolute;
    top: 6px;
    left: 0;
}

section.air-force .items {
    margin-top: 40px;
}

section.air-force .items .item {
    display: inline-block;
    width: calc(100% / 4 - 3px);
    text-align: center;
    vertical-align: top;
}

section.air-force .items .item img {
}

section.air-force .items .item h5 {
    font-size: 1.143em;
    margin: 20px 0 0;
    color: #FFF;
    font-weight: normal;
}

section.large-and-small {
    padding: 130px 0 120px;
    background-image: url(../img/bg/bg-large-and-small.png);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: -80px;
    position: relative;
    z-index: 100;
}

section.large-and-small.institution {
    padding: 170px 0 220px;
    margin-top: 0;
    background-image: url(../img/bg/bg-large-and-small-institution.jpg);
    background-size: cover;
}

section.large-and-small.partner {
    background-image: url(../img/bg/bg-large-and-small-partner.jpg);
    padding: 140px 0 200px;
    background-size: cover;
    margin-top: 0;
}

section.large-and-small p.caption {
    margin: 0;
    font-size: 1.714em;
    color: #FFF;
}

section.large-and-small.institution p.caption {
    text-transform: uppercase;
}

section.large-and-small .title {
    font-size: 4.286em;
    color: #FFF;
    font-weight: 700;
    line-height: 0;
    margin-top: 100px;
}

section.large-and-small .title span {
    position: relative;
}

section.large-and-small .title span.left {
    top: -70px;
}

section.large-and-small .title span.right {
    bottom: 0;
}

section.large-and-small .title span.icon {
    font-size: 2.5em;
    margin: 0 20px;
}

section.large-and-small p.info {
    font-size: 1.714em;
    color: #FFF;
    margin: 60px 0 0;
}

section.integration {
    background-image: url(../img/bg/bg-integration.jpg);
    padding: 50px 0 140px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.integration h2 {
    font-size: 2.143em;
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 10px;
}

section.integration p.caption {
    font-size: 1.143em;
    color: #FFF;
    margin: 0;
}

section.integration .items {
    margin-top: 60px;
    margin-bottom: 30px;
}

section.integration .items .item {
    display: inline-block;
    width: calc(100% / 3 - 3px);
    text-align: center;
    vertical-align: middle;
    margin: 0 0 30px;
}

section.success-stories {
    padding: 0 0 100px;
    background-image: url(../img/bg/bg-success-stories.jpg);
    background-size: calc(100% + 400px);
}

section.success-stories h2 {
    font-size: 2.571em;
    text-transform: uppercase;
    color: #FFF;
    margin: 10px 0 60px;
}

section.success-stories img {
    max-width: calc(100% / 5 - 100px);
    margin: 0 45px 60px;
    vertical-align: middle;
}

section.carrousel {
    background-image: url(../img/bg/bg-carousel.jpg);
    background-size: 130%;
    background-position: top center;
    background-repeat: repeat-y;
    padding: 50px 0 200px;
}

section.carrousel .col-md-12 {
    width: calc(100% + 250px);
}

section.carrousel.partner .col-md-12 {
    width: 100%;
}

section.carrousel .owl-nav, section.testimonials .owl-nav {
    display: block !important;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -63px;
    z-index: 200;
}

section.testimonials .owl-nav {
    left: -120px;
}

section.carrousel .owl-nav .owl-prev, section.carrousel .owl-nav .owl-next, section.testimonials .owl-nav .owl-prev, section.testimonials .owl-nav .owl-next {
    width: 23px;
    height: 43px;
    color: transparent;
}

section.carrousel .owl-nav .owl-prev, section.testimonials .owl-nav .owl-prev {
    background-image: url(../img/icon/carrousel-prev.png);
    margin-bottom: 35px;
}

section.carrousel .owl-nav .owl-next, section.testimonials .owl-nav .owl-next {
    background-image: url(../img/icon/carrousel-next.png);
}

section.carrousel .item {
    opacity: 0.3;
    transition: opacity 0.1s linear 0s;
}

section.testimonials .item {
    opacity: 0.4;
    transition: opacity 0.1s linear 0s;
}

section.carrousel .enabled .item, section.testimonials .enabled .item {
    opacity: 1;
}

section.carrousel .item p.caption {
    font-size: 1.000em;
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 5px;
}

section.carrousel .item h5 {
    font-size: 1.571em;
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 20px;
}

section.carrousel .item .box-image {
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

section.carrousel .item .box-image:after {
    content: "";
    background-image: url(../img/icon/carrousel-play.png);
    width: 51px;
    height: 51px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    display: block;
    z-index: 100;
}

section.carrousel .item .box-image img {
}

section.carrousel .item .info {
    color: #333333;
    font-size: 1.143em;
    background-color: #FFF;
    padding: 40px 20px;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

section.carrousel .item .info {
}

section.carrousel .item .info .brand {
    max-height: 80px;
    display: inline-block;
    width: initial;
    margin-bottom: 20px;
}

section.carrousel .item .info p.goals {
    color: #9b9b9b;
    text-transform: uppercase;
    margin: 0 0 10px;
    line-height: normal;
}

section.carrousel .item .info p.goals span.caption {
    font-size: 0.8em;
}

section.carrousel .item .info p.goals span.value {
    font-size: 2em;
    display: block;
}

section.carrousel .item .info .left, section.carrousel .item .info .right {
    display: inline-block;
    vertical-align: top;
}

section.carrousel .item .info .left {
    width: calc(55% - 3px);
}

section.carrousel .item .info .right {
    text-align: center;
    width: calc(45% - 3px);
}

section.carrousel .item .info .bottom {
    margin-top: 30px;
}

section.central-advancement {
    background-image: url(../img/bg/bg-central-advancement.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0 70px;
    z-index: 100;
    position: relative;
    margin-top: -120px;
}

section.alumni-and-constituent {
    background-image: url(../img/bg/bg-alumni-and-constituent.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0 60px;
    z-index: 100;
    position: relative;
}

section.marketing-and-communication {
    background-image: url(../img/bg/bg-marketing-and-communication.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0 210px;
    z-index: 200;
    position: relative;
}

section.list-logo {
    background-image: url(../img/bg/bg-list-logo.png);
    padding: 140px 0 220px;
    margin-top: -100px;
    position: relative;
    z-index: 100;
    background-position: top center;
    background-size: cover;
}

section.list-logo .items {
    text-align: center;
}

section.list-logo .items .item {
    display: inline-block;
    width: calc(100% / 5 - 3px);
    vertical-align: middle;
    margin: 0 0 70px;
}

section.list-logo .items .item img {
    max-width: 100%;
}

section.apply-for-position {
    padding: 170px 0 150px;
    background-image: url(../img/bg/bg-apply-for-position.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
    position: relative;
    z-index: 100;
}

section.apply-for-position h2 {
    font-size: 2.571em;
    color: #7f3f98;
    text-transform: uppercase;
    margin: 0 0 40px;
}

section.apply-for-position h3 {
    font-size: 1.714em;
    color: #8d8d8d;
    margin: 0 0 20px;
    text-transform: uppercase;
}

section.apply-for-position h3.small {
    color: #4b4b4b;
    font-size: 1.286em;
}

section.apply-for-position p.info {
    font-size: 1.143em;
    color: #4b4b4b;
    margin: 0 0 60px;
}

section.apply-for-position .count {
    margin-bottom: 60px;
}

section.apply-for-position .count:first-child {
    margin-top: 150px;
}

section.apply-for-position .count span.title {
    font-size: 3.571em;
    font-weight: 700;
    color: #7f3f98;
}

section.apply-for-position .count span.title i.icon {
}

section.apply-for-position .count span.caption {
    display: block;
    color: #4b4b4b;
    font-size: 1.286em;
    text-transform: uppercase;
    font-weight: 700;
}

section.apply-for-position h4 {
    font-size: 1.714em;
    color: #8d8d8d;
    margin: 0 0 20px;
}

section.apply-for-position p.caption {
    font-size: 1.143em;
    color: #8d8d8d;
    font-weight: 700;
    margin: 0 0 10px;
}

section.apply-for-position p.text {
    font-size: 1.143em;
    color: #4b4b4b;
    margin-bottom: 35px;
    min-height: 110px;
}

section.mission-statement {
    background-image: url(../img/bg/bg-mission-statement.png);
    padding: 150px 0 200px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
    position: relative;
    z-index: 100;
}

section.mission-statement h2 {
    font-size: 2.571em;
    color: #FFF;
    margin: 0 0 60px;
}

section.mission-statement p.caption {
    font-size: 1.714em;
    color: #FFF;
    margin: 0 0 20px;
}

section.mission-statement p.info {
    font-size: 1.143em;
    color: #FFF;
    margin: 0;
}

section.our-culture {
    background-image: url(../img/bg/bg-our-culture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: 70%;
    padding: 50px 0 100px;
    margin-top: -55px;
    position: relative;
    z-index: 0;
}

section.our-culture h2 {
    color: #7f3f98;
    font-size: 2.571em;
    margin: 0 0 25px;
}

section.our-culture p.info {
    color: #4b4b4b;
    font-size: 1.143em;
    margin: 0;
}

section.perks {
    padding: 80px 0 200px;
    background-color: #f1f1f1;
}

section.perks h2 {
    font-size: 2.571em;
    color: #7f3f98;
    margin: 0 0 50px;
}

section.perks .items {
}

section.perks .items .item {
    display: inline-block;
    width: calc(100% / 5 - 3px);
    vertical-align: top;
    padding: 0 15px;
}

section.perks .items .item img {
}

section.perks .items .item h5 {
    font-size: 1.286em;
    color: #7f3f98;
    text-transform: uppercase;
    margin: 25px 0 0;
}

section.linkedin-profile {
    padding: 110px 0 80px;
    background-color: #773b92;
}

section.linkedin-profile.blog {
    padding-bottom: 130px;
}

section.linkedin-profile.even {
    background-color: #6f4085;
}

section.linkedin-profile.testimonials {
    background-color: transparent;
    background-image: url(../img/bg/header-testimonials.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 100;
    margin: -190px 0 -150px;
}

section.linkedin-profile h2 {
    font-size: 2.571em;
    color: #FFF;
    margin: 0 0 60px;
    text-transform: uppercase;
}

section.linkedin-profile h2.down {
    margin: 0 0 100px;
}

section.linkedin-profile .item {
    margin-bottom: 40px;
    text-align: center;
}

section.linkedin-profile .box-image {
    position: relative;
    margin-bottom: 40px;
    width: 214px;
    height: 214px;
    display: inline-block;
}

section.linkedin-profile .box-image .image {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

section.linkedin-profile .box-image .image img {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    top: 50%;
    left: 50%;
}

section.linkedin-profile .box-image .icon {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -18px;
    width: 36px;
    height: 36px;
    background-image: url(../img/icon/linkedin-off.png);
}

section.linkedin-profile .box-image .icon.active {
    background-image: url(../img/icon/linkedin-on.png);
}

section.linkedin-profile .box-image .company {
    position: absolute;
    right: -20px;
    bottom: 0;
    height: 80px;
}

section.linkedin-profile .box-image .company.large {
    height: 60px;
    bottom: 12px;
}

section.linkedin-profile .box-image .company img {
    height: 100%;
    width: initial;
}

section.linkedin-profile p.caption {
    font-size: 1.286em;
    color: #FFF;
    margin: 0 0 50px;
}

section.linkedin-profile p.caption.up {
    margin: 0 0 25px;
}

section.linkedin-profile h5 {
    font-size: 1.143em;
    color: #FFF;
    margin: 0 0 10px;
    text-transform: uppercase;
}

section.linkedin-profile p.role {
    font-size: 1.143em;
    color: rgba(255, 255, 255, 0.60);
    margin: 0 0 20px;
    text-transform: uppercase;
}

section.linkedin-profile.testimonials p.role {
    font-size: 0.857em;
}

section.linkedin-profile p.info {
    font-size: 1.000em;
    color: #FFF;
    margin: 0;
}

section.linkedin-profile.testimonials p.info {
    font-size: 1.429em;
    font-style: italic;
}

section.post-listing {
    padding: 90px 0 80px;
    position: relative;
    margin-top: -50px;
}

section.post-listing.schedule-demo {
    padding-bottom: 120px;
}

section.post-listing h2 {
    color: #686868;
    font-size: 2.571em;
    text-transform: uppercase;
    margin: 150px 0 100px;
}

body.single section.post-listing {
    margin-top: -110px;
    padding-top: 150px;
    padding-bottom: 50px;
}

body.single section.post-listing.single .top {
    margin-bottom: 50px;
}

body.single section.post-listing.single .top .tag-list {
    margin: 20px 0 0;
}

body.single section.post-listing.single .content {
}

body.single section.post-listing.single .content p {
    color: #333333;
    font-size: 1.143em;
    margin: 0 0 25px;
}

body.single section.post-listing.single .content .video {
    position: relative;
    cursor: pointer;
}

body.single section.post-listing.single .content .video:before {
    content: "";
    background-image: url(../img/icon/carrousel-play.png);
    width: 51px;
    height: 51px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    display: block;
    z-index: 100;
}

body.single section.post-listing.single .content img.full {
    margin: 40px 0;
    display: block;
    max-width: 100%;
}

body.single section.post-listing.single .bottom .recommended-post {
    margin-top: 140px;
}

section.post-listing:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg/bg-post-listing.png);
    background-position-x: center;
    background-position-y: -30px;
    background-repeat: no-repeat;
    background-size: cover;
}

body.single section.post-listing:before {
    background-position-x: -160px;
    background-size: calc(100% + 160px);
}

body.schedule-demo section.post-listing:before {
    display: none;
}

section.post-listing:after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    z-index: -100;
}

body.single section.post-listing:after {
    top: 110px;
}

section.post-listing .search {
    text-align: right;
    margin-bottom: 40px;
}

section.post-listing .search .box-form {
    background-color: #FFF;
    width: 600px;
    height: 40px;
    max-width: 100%;
    display: inline-block;
    text-align: left;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    overflow: hidden;
}

section.post-listing .search .box-form input[type="search"] {
    border: 0;
    width: calc(100% - 43px - 4px);
    height: 100%;
    color: #999999;
    display: inline-block;
    vertical-align: top;
    font-size: 1.143em;
    padding: 0 20px;
    outline: none;
}

section.post-listing .search .box-form input[type="search"]::-webkit-input-placeholder {
    color: #999999;
}

section.post-listing .search .box-form button {
    border: 0;
    background-image: url(../img/icon/search.png);
    background-repeat: no-repeat;
    width: 43px;
    height: 100%;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    background-position: center;
    outline: none;
}

section.post-listing .category {
    margin-bottom: 40px;
}

section.post-listing .category .item {
    display: inline-block;
    width: calc(100% / 3 - 3px);
    text-align: center;
    vertical-align: top;
    height: 130px;
    position: relative;
    background-color: #6e6e6e;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.post-listing .category .item:before {
    content: "";
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background 0.2s linear 0s;
    z-index: 100;
}

section.post-listing .category .item:hover:before {
    background-color: rgba(127, 63, 152, 0.5);
}

section.post-listing .category .item:nth-child(1) {
    background-image: url(../img/bg/category-1.jpg);
}

section.post-listing .category .item:nth-child(2) {
    background-image: url(../img/bg/category-2.jpg);
}

section.post-listing .category .item:nth-child(3) {
    background-image: url(../img/bg/category-3.jpg);
}

section.post-listing .category .item h5 {
    font-size: 1.786em;
    color: #FFF;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    z-index: 200;
}

section.post-listing .category .item h5 a {
    color: inherit;
    text-decoration: none;
}

section.post-listing .list {
}

section.post-listing .list .item {
    margin-bottom: 30px;
    transition: box-shadow 0.2s linear 0s;
}

section.post-listing .list .item:hover {
    box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.2);
}

section.post-listing .list .item .box-image {
    height: 250px;
    overflow: hidden;
    position: relative;
}

section.post-listing .list .item .box-image img {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    height: 100%;
}

section.post-listing .list .item .box-info {
    padding: 50px 30px;
    background-color: #FFF;
}

section.post-listing.schedule-demo .list .item .box-info {
    height: 566px;
}

section.post-listing .list .item .box-info h3 {
    margin: 10px 0 30px;
    color: #7f3f98;
    font-size: 1.786em;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
}

section.post-listing .list .item .box-info h3 a {
    text-decoration: none;
    color: inherit;
}

section.post-listing .list .item .box-info h3:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: #ebebeb;
}

section.post-listing .list .item .box-info p.summary {
    color: #666666;
    font-size: 1.143em;
    margin: 0;
}

section.post-listing .list .item .box-info .bottom {
    margin-top: 40px;
}

section.post-listing .load-more {
    text-align: center;
    margin-top: 50px;
    position: relative;
    z-index: 300;
}

section.post-listing .load-more .icon-load {
    width: 43px;
    height: 23px;
    background-image: url(../img/icon/load-more.png);
    display: inline-block;
}

section.prefer-more {
    background-image: url(../img/bg/bg-prefer-more.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
    padding: 150px 0 150px;
}

section.prefer-more .left {
}

section.prefer-more .left h2 {
    color: #fecb0e;
    font-size: 2.357em;
    text-transform: uppercase;
    margin: 0 0 50px;
}

section.prefer-more .left p.info {
    color: #FFF;
    font-size: 1.571em;
}

section.prefer-more .left .btn-call-to-action {
    margin: 50px 0 0;
}

section.prefer-more .left .btn-call-to-action i.schedule {
    background-image: url(../img/icon/schedule.png);
    width: 25px;
    height: 22px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 15px;
}

section.prefer-more .right {
}

section.prefer-more .right h2 {
    color: #FFF;
    font-size: 2.357em;
    text-transform: uppercase;
    margin: 20px 0 50px;
}

section.prefer-more .right p.info {
    color: #2a2a2a;
    font-size: 1.571em;
}

section.prefer-more .right form {
    margin: 50px 0 0;
}

section.prefer-more .right form fieldset {
    margin: 0 0 15px;
}

section.prefer-more .right form fieldset input {
    color: #686868;
    font-size: 1.429em;
    border: 1px solid #878787;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.50);
    outline: none;
}

section.prefer-more .right form fieldset.check input {
    background-image: url(../img/icon/check-input.png);
    background-position: calc(100% - 15px) 50%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.10);
}

section.prefer-more .right form button {
    margin: 50px 0 0;
}

section.get-started {
    background-image: url(../img/bg/bg-get-started.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0 150px;
}

section.get-started h2 {
    font-size: 2.571em;
    color: #FFF;
    margin: 0 0 30px;
}

section.get-started p.caption {
    font-size: 1.714em;
    color: #FFF;
    margin: 0;
}

section.role-and-platform {
    position: relative;
    z-index: 100;
    margin-top: -100px;
    margin-bottom: -3px;
}

section.role-and-platform .item {
    display: inline-block;
    width: calc(50% - 3px);
    vertical-align: top;
    padding: 0 15px;
    margin-bottom: 3px;
}

section.role-and-platform .item:not(.title) {
    height: 250px;
    background-color: #c2c2c2;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

section.role-and-platform .item.item-3 {
    background-image: url(../img/bg/role-and-platform-3.jpg);
}

section.role-and-platform .item.item-4 {
    background-image: url(../img/bg/role-and-platform-4.jpg);
}

section.role-and-platform .item.right.active.item-4 {
    background-image: url(../img/bg/role-and-platform-4-active.jpg);
}

section.role-and-platform .item.item-5 {
    background-image: url(../img/bg/role-and-platform-5.jpg);
}

section.role-and-platform .item.item-6 {
    background-image: url(../img/bg/role-and-platform-6.jpg);
}

section.role-and-platform .item.right.active.item-6 {
    background-image: url(../img/bg/role-and-platform-6-active.jpg);
}

section.role-and-platform .item.item-7 {
    background-image: url(../img/bg/role-and-platform-7.jpg);
}

section.role-and-platform .item.item-8 {
    background-image: url(../img/bg/role-and-platform-8.jpg);
}

section.role-and-platform .item.right.active.item-8 {
    background-image: url(../img/bg/role-and-platform-8-active.jpg);
}

section.role-and-platform .item h4 {
    font-size: 1.786em;
    color: #FFF;
    text-transform: uppercase;
}

section.role-and-platform .item h5 {
    color: #7f3f98;
    font-size: 2.571em;
    text-transform: uppercase;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 65%;
    margin: 0;
}

section.role-and-platform .item.right.active h5 {
    color: #bebebe;
}

section.role-and-platform-content {
    background-image: url(../img/bg/bg-role-and-platform-content.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -60px;
    position: relative;
    z-index: 0;
}

section.role-and-platform-content .initial-msg {
    padding: 280px 0 580px;
}

section.role-and-platform-content .initial-msg i.up {
    background-image: url(../img/icon/up-initial-msg.png);
    width: 92px;
    height: 92px;
    display: inline-block;
    cursor: pointer;
}

section.role-and-platform-content .initial-msg h2 {
    color: #c3c3c3;
    font-size: 3.571em;
    text-transform: uppercase;
    margin: 70px 0 0;
}

section.role-and-platform-content .carousel {
    padding: 280px 0 450px;
}

section.role-and-platform-content .carousel .owl-carousel {
    position: relative;
}

section.role-and-platform-content .carousel .owl-nav, section.role-and-platform-content .carousel .owl-nav {
    display: block !important;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% + 60px);
    z-index: 200;
}

section.role-and-platform-content .carousel .owl-nav .owl-prev, section.role-and-platform-content .carousel .owl-nav .owl-next {
    width: 31px;
    height: 57px;
    color: transparent;
    position: absolute;
    top: 0;
}

section.role-and-platform-content .carousel .owl-nav .owl-prev {
    background-image: url(../img/icon/carrousel-prev-purple.png);
    left: 0;
}

section.role-and-platform-content .carousel .owl-nav .owl-next {
    background-image: url(../img/icon/carrousel-next-purple.png);
    right: 0;
}

section.role-and-platform-content .carousel .title {
    margin-bottom: 60px;
}

section.role-and-platform-content .carousel .title img.logo {
    display: inline-block;
    width: initial;
    vertical-align: middle;
}

section.role-and-platform-content .carousel .title p.caption {
    display: inline-block;
    color: #545454;
    font-size: 1.857em;
    text-transform: uppercase;
    margin: 0 0 10px;
    line-height: normal;
}

section.role-and-platform-content .carousel .title .sub {
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    vertical-align: middle;
}

section.role-and-platform-content .carousel .title h2 {
    display: block;
    text-transform: uppercase;
    margin: 0;
    color: #7f3f98;
    font-size: 4.571em;
}

section.role-and-platform-content .carousel .content {
}

section.role-and-platform-content .carousel .content .video {
    position: relative;
    cursor: pointer;
}

section.role-and-platform-content .carousel .content .video:after {
    content: "";
    background-image: url(../img/icon/carrousel-play.png);
    width: 51px;
    height: 51px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    display: block;
    z-index: 100;
}

section.role-and-platform-content .carousel .content .video img {
    max-width: 100%;
}

section.role-and-platform-content .carousel .content h5 {
    color: #7f3f98;
    font-size: 1.786em;
    text-transform: uppercase;
    margin: 25px 0 15px;
}

section.role-and-platform-content .carousel .content p.caption {
    color: #8d8d8d;
    font-size: 1.286em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px;
}

section.role-and-platform-content .carousel .content p.info {
    color: #545454;
    font-size: 1.000em;
    margin: 0;
}

section.role-and-platform-content .carousel .content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

section.role-and-platform-content .carousel .content ul li {
    color: #545454;
    font-size: 1.000em;
    margin-bottom: 5px;
    position: relative;
    padding: 0 0 0 20px;
}

section.role-and-platform-content .carousel .content ul li:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #959595;
    transform: rotate(45deg);
    margin-right: 10px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 0;
}

footer {
    background-color: #252525;
    padding: 170px 0 100px;
    position: relative;
}

footer:before {
    content: "";
    background-image: url(../img/bg/footer-home-polygon.png);
    position: absolute;
    width: 100%;
    height: 285px;
    top: -185px;
    left: 0;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 200;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a, footer ul li a:hover {
    color: #9a9a9a;
    font-size: 1.000em;
    text-transform: uppercase;
    text-decoration: none;
}

footer img.logo {
    margin-top: -30px;
}

footer h5 {
    color: #e8e8e8;
    font-size: 1.000em;
    text-transform: uppercase;
    margin: 0 0 10px;
}

footer h4 {
    font-size: 1.714em;
    color: #FFF;
    margin: 75px 0 25px;
}

footer address {
    margin-bottom: 30px;
}

footer address, footer address a, footer address a:hover {
    font-size: 1.000em;
    color: #b1b1b1;
    text-decoration: none;
}

footer p {
    font-size: 1.000em;
    color: #b1b1b1;
}

footer p.copyright {
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 0.857em;
    margin: 110px 0 0;
}

/* COMPONENTS */
.date-and-actions p.author {
    color: #c3c3c3;
    font-size: 1.143em;
    margin: 0 0 5px;
}

.date-and-actions p.author strong {
    text-transform: uppercase;
}

.date-and-actions .date {
    width: calc(50% - 3px);
    display: inline-block;
    vertical-align: top;
}

.date-and-actions .date span {
    color: #999898;
    font-size: 1.000em;
}

.date-and-actions .date span i.hour {
    background-image: url(../img/icon/post-date.png);
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
}

.date-and-actions .actions {
    width: calc(50% - 3px);
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.date-and-actions .actions span.favorite {
    width: 14px;
    height: 13px;
    background-image: url(../img/icon/favorite.png);
    display: inline-block;
    vertical-align: sub;
}

.date-and-actions .actions span.share {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon/share.png);
    display: inline-block;
    vertical-align: sub;
    margin-left: 10px;
}

/* Tag List */
.tag-list {
    padding: 0 5px;
}

.tag-list a {
    font-size: 0.714em;
    color: #FFF;
    text-transform: uppercase;
    background-color: #7f3f98;
    display: inline-block;
    padding: 3px 20px;
    transform: skewX(-30deg);
    margin: 0 5px 5px 0;
}

.tag-list a span {
    transform: skewX(30deg);
    display: inline-block;
}

/* Recommended Post */
.recommended-post {
    padding: 20px 0 0;
    border-top: 2px solid #793c91;
}

.recommended-post h3 {
    color: #793c91;
    font-size: 1.286em;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.recommended-post .item {
    background-color: #c60000;
    padding: 50px 10px 15px;
}

.recommended-post .item.purple {
    background-color: #6b3580;
}

.recommended-post .item .box-image {
    width: 100%;
    height: 120px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.recommended-post .item .box-image img {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

.recommended-post .item h5 {
    color: #FFF;
    font-size: 1.286em;
    font-weight: 400;
    margin: 10px 0 0;
    position: relative;
    text-transform: uppercase;
}

.recommended-post .item h5 a {
    color: inherit;
    text-decoration: none;
}

.recommended-post .item h5:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #FFF;
    display: block;
    margin-bottom: 10px;
}

/* Form Schedule Free */
.form-schedule-free {
    padding: 30px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
}

.form-schedule-free h4 {
    color: #8a50a1;
    margin: 0 0 30px;
    font-size: 1.714em;
}

.form-schedule-free fieldset {
    margin: 0 0 20px;
}

.form-schedule-free fieldset label {
    color: #333333;
    font-size: 1.143em;
    display: block;
    margin: 0 0 10px;
    font-weight: 400;
}

.form-schedule-free fieldset input {
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #FFF;
    outline: none;
    padding: 0 10px;
    color: #999999;
    font-size: 1.143em;
}

.form-schedule-free fieldset textarea {
    border: 0;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-color: #FFF;
    outline: none;
    padding: 10px;
    resize: none;
    color: #999999;
    font-size: 1.143em;
}

.form-schedule-free button {
    margin-left: 15px;
}

/* CUSTOM ELEMENTS */
a.btn-call-to-action, button.btn-call-to-action {
    position: relative;
    background-color: #FFF;
    display: inline-block;
    color: #7f3f98;
    padding: 15px 40px;
    font-size: 1.286em;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    line-height: normal;
    transform: skewX(-30deg);
    outline: none;
}

button.btn-call-to-action {
    border: 0;
}

a.btn-call-to-action.bg-alpha {
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;
}

a.btn-call-to-action.bg-purple, button.btn-call-to-action.bg-purple {
    background-color: #7f3f98;
    color: #FFF;
}

a.btn-call-to-action.border-gray {
    font-size: 2.143em;
    border: 2px solid #e7e6e7;
    color: #686868;
    padding: 10px 40px;
}

a.btn-call-to-action.border-blue {
    border: 2px solid #0a4d8b;
    white-space: nowrap;
    padding: 10px 28px;
    font-size: 1.036em;
}

a.btn-call-to-action.text-gray {
    color: #cecece;
}

a.btn-call-to-action span, button.btn-call-to-action span {
    transform: skewX(30deg);
    display: inline-block;
    font-size: inherit;
    color: inherit;
    margin: 0;
}
