@media screen and (min-width: 768px) {
    header .top-header .menu .menu-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header .top-header .menu {
        margin: 0;
        position: relative;
        z-index: 200;
    }

    header .top-header .menu .menu-mobile {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5em;
        display: block;
        color: #FFF;
    }

    header .top-header .menu ul {
        position: absolute;
        top: 55px;
        right: 15px;
        padding: 0;
        width: 300px;
        max-width: calc(80%);
        text-align: left;
        background-color: rgba(127, 63, 152, 0.6);
        display: none;
    }

    header .top-header .menu .menu-mobile.open + ul {
        display: block;
    }

    header .top-header .menu ul li {
        display: block;
    }

    header .top-header .menu ul li a {
        transform: initial !important;
        padding: 10px 15px;
        background: transparent !important;
    }

    header .top-header .menu ul li a:hover {
        background-color: #FFF !important;
        color: #7f3f98;
    }

    header .top-header .menu ul li a span {
        transform: initial !important;
    }

    body.home header:after {
        bottom: -30px;
        height: 100px;
    }

    body.home header .middle-header {
        padding: 160px 0;
    }

    section.giving-day {
        padding: 60px 0;
    }

    section.giving-day a.btn-call-to-action {
        margin-bottom: 30px;
    }

    section.giving-day video {
        width: 100%;
    }

    section.institutional-size {
        padding: 60px 0;
    }

    section.institutional-size br {
        display: none;
    }

    section.institutional-size:before {
        display: none;
    }

    section.overview {
        padding: 30px 0 0;
    }

    section.overview img.img-responsive {
        display: none;
    }

    section.overview:before {
        display: none;
    }

    section.overview h2 {
        margin: 0 0 40px;
    }

    section.overview p.info {
        margin: 40px 0;
    }

    section.overview a.btn-call-to-action {
        margin: 0 auto;
        display: block;
        max-width: 270px;
        text-align: center;
    }

    section.features {
        padding: 60px 0;
    }

    section.features .item {
        width: 100% !important;
        margin-bottom: 30px;
    }

    section.modules {
        text-align: center;
        margin-bottom: 99px;
    }

    section.modules:after {
        display: none;
    }

    section.modules .btn-call-to-action {
        margin: 0 0 40px !important;
    }

    section.modules img {
        position: static !important;
        margin: 0 auto 30px !important;
        display: block;
        max-width: 100%;
    }

    section.modules .items {
        left: 0;
    }

    section.modules .items .item {
        text-align: center;
    }

    section.institutions:before {
        height: 80px;
        top: -80px;
    }

    section.institutions h2 {
        margin: 0 0 40px;
    }

    section.institutions .item {
        width: 100%;
        margin: 0 0 30px;
    }

    section.athletics {
        padding: 120px 0 80px;
        margin-top: -1px;
    }

    section.one-powerfull {
        padding: 60px 0 0;
        margin-bottom: 0;
    }

    section.one-powerfull.partner {
        background-image: none;
        padding: 60px 0;
        margin-top: 0;
    }

    section.one-powerfull:before, section.one-powerfull:after {
        display: none;
    }

    section.one-powerfull h2 {
        margin: 0 0 20px;
    }

    section.one-powerfull .items {
        margin-left: 0;
    }

    section.one-powerfull .items .item {
        position: initial;
        width: 100% !important;
        margin-top: 40px;
    }

    section.one-powerfull .items .item img {
        max-width: 100%;
    }

    section.giving-day-platform {
        padding: 60px 0;
        background-image: none;
        background-color: #eeeeee;
        margin-top: 60px;
    }

    section.giving-day-platform .items {
        margin-top: 60px;
    }

    section.unite {
        margin-top: 0;
        background-color: #f2f2f2;
        background-image: none;
        padding: 0 0 100px;
    }

    section.unite img.img-responsive {
        display: none;
    }

    section.unite .to-down {
        margin-top: 60px;
    }

    section.sprout {
        margin-top: 0;
        background-color: #eee;
        background-image: none;
        padding: 60px 0 20px;
    }

    section.platform-common-list .items {
        margin-top: 60px;
    }

    section.sprout img.img-home {
        width: 100%;
        margin: 60px 0 0;
    }

    section.platform-bottom {
        margin-top: -50px;
        background-position: left;
        padding: 150px 0;
    }

    section.platform-bottom.partner {
        padding: 60px 0 150px;
        background-position-x: calc(70%);
    }

    section.platform-bottom .btn-call-to-action {
        margin-left: 15px;
    }

    section.platform-bottom .row > div:nth-child(2) {
        margin-top: 60px;
    }

    section.large-and-small.institution {
        padding: 80px 0 150px;
        margin-bottom: -1px;
    }

    section.large-and-small .title {
        font-size: 2.5em;
    }

    section.large-and-small .title .icon {
        font-size: 2em !important;
    }

    section.large-and-small .title .left {
        top: -25px !important;
    }

    section.carrousel {
        padding: 60px 0 150px;
    }

    section.carrousel.partner {
        margin-top: -350px;
        position: relative;
        z-index: 100;
        padding: 60px 0;
    }

    section.carrousel .col-md-12 {
        width: 100%;
    }

    section.central-advancement {
        background-position-x: left;
        padding: 60px 0;
        margin-top: 0;
        background-image: none;
        background-color: #ececec;
    }

    section.central-advancement .btn-call-to-action {
        margin-left: 15px;
    }

    section.alumni-and-constituent {
        background-position-x: left;
        padding: 60px 0;
        background-image: none;
        background-color: #f5f4f4;
    }

    section.alumni-and-constituent .btn-call-to-action {
        margin-left: 15px;
    }

    section.marketing-and-communication {
        background-position-x: left;
        padding: 60px 0;
        background-image: none;
        background-color: #ececec;
    }

    section.marketing-and-communication .btn-call-to-action {
        margin-left: 15px;
        max-width: calc(100% - 30px);
    }

    section.built {
        padding: 60px 0;
    }

    section.built img.man {
        display: none;
    }

    section.advantage-athletic {
        margin-top: 0;
        padding: 60px 0;
        background-color: #ebebeb;
        background-image: none;
    }

    section.advantage-athletic .item {
        width: 100%;
        margin-bottom: 40px;
    }

    section.air-force {
        padding: 60px 0;
    }

    section.air-force h3 {
        margin-top: 40px;
    }

    section.air-force .items .item {
        width: calc(50% - 3px);
        margin-bottom: 40px;
    }

    section.large-and-small {
        margin-top: -60px;
        background-size: cover;
    }

    section.integration {
        padding: 60px 0 180px;
    }

    section.integration .items .item {
        width: 100%;
    }

    section.success-stories {
        padding: 0 0 60px;
    }

    section.success-stories img {
        max-width: initial;
        width: 50%;
        margin: 0 0 60px;
    }

    section.apply-for-position {
        background-image: none;
        padding: 60px 0 40px;
        margin-top: 0;
    }

    section.apply-for-position .count:first-child {
        margin-top: 0;
    }

    section.apply-for-position .btn-call-to-action {
        margin-bottom: 40px;
    }

    section.linkedin-profile {
        padding: 60px 0 0;
    }

    section.linkedin-profile p.info {
        margin-bottom: 60px;
    }

    section.post-listing .category .item {
        width: 100%;
        margin-bottom: 3px;
    }

    body.single section.post-listing:before {
        display: none;
    }

    .recommended-post .item {
        margin-bottom: 30px;
    }

    section.large-and-small.partner {
        padding: 60px 0 130px;
    }

    section.large-and-small.partner .title {
        font-size: 2.3em;
    }

    section.our-culture {
        background-color: #FFF;
        background-image: none;
        padding: 60px 0;
    }

    section.perks {
        padding: 60px 0;
    }

    section.perks .items .item {
        width: 100%;
        margin-bottom: 60px;
    }

    section.get-started {
        padding: 60px 0 150px;
    }

    section.role-and-platform .item h4 {
        font-size: 1.5em;
    }

    section.role-and-platform .item:not(.title) {
        height: 120px;
    }

    section.role-and-platform .item h5 {
        font-size: 1.2em;
        width: calc(100% - 30px);
    }

    section.role-and-platform-content .initial-msg {
        padding: 150px 0 160px;
    }

    section.role-and-platform-content .initial-msg h2 {
        font-size: 2.5em;
    }

    section.role-and-platform-content .carousel {
        padding: 150px 0 250px;
    }

    section.role-and-platform-content .carousel .title img.logo {
        max-width: 60px;
    }

    section.role-and-platform-content .carousel .title p.caption {
        font-size: 1em;
        margin: 0;
    }

    section.role-and-platform-content .carousel .title h2 {
        font-size: 2em;
    }

    section.role-and-platform-content .carousel .title {
        margin-bottom: 30px;
    }

    section.role-and-platform-content .carousel .owl-nav, section.role-and-platform-content .carousel .owl-nav {
        display: none !important;
    }

    section.list-logo {
        margin-top: -50px;
        background-position-x: 0;
        padding: 100px 0 430px;
    }

    section.list-logo .items .item {
        width: 80%;
        margin: 0 0 60px;
    }

    section.platform-bottom.partner {
        margin-top: 0;
    }

    section.prefer-more {
        background-color: #7544b0;
        background-image: none;
        padding: 60px 0 0;
        margin: 60px 0;
    }

    section.prefer-more .right {
        background-color: #b0b2b2;
        padding: 60px 15px;
        margin-top: 60px;
    }

    section.prefer-more .right h2 {
        margin-top: 0;
    }

    section.linkedin-profile.testimonials {
        margin-top: -100px;
        padding: 120px 0;
    }

    section.testimonials .item {
        opacity: 1;
    }

    section.carrousel .owl-nav, section.testimonials .owl-nav {
        display: none !important;
    }

    section.post-listing.schedule-demo {
        padding: 60px 0 80px;
    }

    section.post-listing.schedule-demo .list .item .box-info {
        height: initial;
    }

    section.post-listing h2 {
        margin: 120px 0 60px;
    }

    section.complete-suite {
        padding: 60px 0;
        background-image: none;
    }

    footer {
        padding: 60px 0;
        text-align: center;
    }

    footer:before {
        height: 120px;
        top: -40px;
    }

    footer ul {
        display: inline-block;
    }

    footer img.logo {
        margin-top: 40px;
    }

    footer h4 {
        margin: 40px 0;
    }

    footer p.copyright {
        margin: 30px 0 0;
    }
}